.title {
  margin: 0 auto;
}

.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
}

.mainItems {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.myDescription {
  width: 50%;
}

.personalPicture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  
}

.personalPicture img {
  border-radius: 10%;
  border: black solid 5px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .mainContainer {
    flex-direction: column;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .mainContainer {
    flex-direction: column;
  }
  .personal-picture {
    width: 80%;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
}
