@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto";
  src: url("../Font/roboto_light_macroman/Roboto-Light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../Font/roboto_lightitalic_macroman/Roboto-LightItalic-webfont.woff") format("woff");
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("../Font/roboto_bold_macroman/Roboto-Bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  html,
  body {
    @apply h-full w-full overflow-auto font-roboto font-light cursor-default text-white;
    background: linear-gradient(-45deg, #070760, #131313, #141480, #070760);
    background-size: 400% 400%;
    animation: gradientShift 30s ease infinite;
  }

  @keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  h1 {
    @apply text-[30px] md:text-[45px] lg:text-[45px] py-[3px] md:py-[2px] lg:py-[3px] italic text-white;
  }

  h2 {
    @apply text-[25px] md:text-[45px] lg:text-[45px] py-[3px] md:py-[2px] lg:py-[3px] italic text-white;
  }

  h3 {
    @apply text-[20px] md:text-[25px] lg:text-[32px] py-0 md:py-[1px] lg:py-[2px] italic text-white;
  }

  h4 {
    @apply text-white;
  }

  p {
    @apply text-[13px] md:text-[20px] lg:text-[22px] mt-[10px] md:mt-[15px] lg:mt-[15px] mb-[15px] md:mb-[20px] lg:mb-[20px] text-justify text-white;
    line-height: 1.1;
  }

  button {
    @apply cursor-pointer;
  }

  input::placeholder {
    @apply font-roboto font-light text-black/[0.538];
  }

  textarea::placeholder {
    @apply font-roboto font-light italic text-black/[0.538];
  }

  ::-webkit-scrollbar {
    @apply w-[5px] bg-logo-dark;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-white rounded-[5px];
  }
}

@layer components {
  .page {
    @apply flex flex-col min-h-screen;
  }

  .title {
    @apply flex items-center justify-center text-center h-auto py-[10px] lg:py-[5px] xl:py-[10px] flex-none w-full;
  }

  .body-no-scroll {
    @apply overflow-hidden;
  }

  .bodyNoScroll {
    @apply overflow-hidden;
  }
}

@layer utilities {
  .width-controller {
    @apply w-full;
  }

  main {
    @apply mt-[80px] md:mt-[50px] lg:mt-[60px] xl:mt-[80px] lg:px-[30px] w-full flex-1 flex flex-col items-center lg:items-stretch;
  }
}
